.caver {
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 10px;
  .caver__itm {
    outline: 2px solid #e0e0e2;
    border-radius: 20px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    .fon {
      width: 25%;
      height: 105px;
      padding-bottom: 20px;
      & h2 {
        font-family: IRAN;
        font-size: 15px;
        padding: 10px;
      }
      & h5 {
        font-family: IRAN;
        font-size: 10px;
        padding: 10px;
        opacity: 0.6;
      }
      .img {
        padding: 30px;
        & img {
          width: 100px;
          height: 100px;
          display: inline-block;
        }
      }
    }
    .ir {
      width: 25%;
      height: 105px;
      padding-bottom: 20px;
      & h2 {
        font-family: IRAN;
        font-size: 15px;
        padding: 10px;
      }
      & h5 {
        font-family: IRAN;
        font-size: 10px;
        padding: 10px;
        opacity: 0.6;
      }
      .img {
        padding: 30px;
        & img {
          width: 100px;
          height: 100px;
          display: inline-block;
        }
      }
    }
    .bag {
      width: 25%;
      height: 105px;
      padding-bottom: 20px;
      & h2 {
        font-family: IRAN;
        font-size: 15px;
        padding: 10px;
      }
      & h5 {
        font-family: IRAN;
        font-size: 10px;
        padding: 10px;
        opacity: 0.6;
      }
      .img {
        padding: 30px;
        & img {
          width: 100px;
          height: 100px;
          display: inline-block;
        }
      }
    }
    .wah {
      width: 25%;
      height: 105px;
      padding-bottom: 20px;
      & h2 {
        font-family: IRAN;
        font-size: 15px;
        padding: 10px;
      }
      & h5 {
        font-family: IRAN;
        font-size: 10px;
        padding: 10px;
        opacity: 0.6;
      }
      .img {
        padding: 30px;
        & img {
          width: 100px;
          height: 100px;
          display: inline-block;
        }
      }
    }
  }
  .caver__botem {
    width: inherit;
    height: 30px;
    display: flex;
    justify-content: end;

    & a {
      width: 25%;
      height: 105px;
      padding-bottom: 20px;
      color: aqua !important;

      font-family: IRAN;
    }
  }
}
