.poster__2 {
  width: 100%;
  height: 263px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .postr__2__1 {
    width: 80%;
    height: inherit;
    
    & img {
      width: 49%;
      height: inherit;
      border-radius: 20px;
     
    }
  }
}
